 nav {
    background-color: black;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.nav-menu {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding-top: 10px;
}

.nav-menu a {
    font-size: 20px;
    font-family: century-gothic, sans-serif;
    color: white;
    text-decoration: none;
    padding: 1em 1em;
}

.logo {
    font-size: 32px;
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
    animation: fadeInAnimation ease 1s;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.nav-menu a:hover {
    color: #B3A980;
}
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  .app {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: none;
    border-radius: 5px;
  }

  .app img {
    width: 300px;
    height: 275px;;
  }
  .app2 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: none;
    border-radius: 5px;
  }

  .app2 img {
    width: 200px;
    height: 400px;
  }
  .app3 {
    position: absolute;
    top: 100%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 20%;
    background-color: none;
    border-radius: 5px;
  }

  .app3 img {
    width:auto;
    max-width: 200px;
    min-width: 200px;
    height:auto;
  }
  
  .controls {
    width: 100%;
    padding: 20px 50px;
  }
  
  .new-quote {
    background-color: #ff0000;
    margin-bottom: 15px;
  }
  
  .new-quote:hover {
    background-color: #a51010;
  }
  
  .new-quote:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
  
  @media screen and (max-width: 600px) {
    .app {
      width: 100%;
    }
    .quote-text {
      font-size: 18px;
    }
  }