h1 {
    font-size: 60px;
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
}

h2 { 
    font-size: 36px;
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-size: 30px;
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h4 {
    font-size: 24px;
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h5 {
    font-size: 20px;
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h6 {
    font-size: 18px;
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-size: 16px;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}

a {
    font-size: 16px;
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

a:link {
    color: #73896C;
}

a:hover {
    color: #B3A980;
}

a:visited {
    color: #22496D;
}

body {
    background-color: #fff;
    width: 85%;
    margin: 50px auto 50px auto;
}

.grid {
    margin: 100px auto 200px auto;
    width: 70%;
    height: 80%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.grid article {
    padding-top: 1em;
}

.grid2 {
    margin: 150px auto 200px auto;
    width: 70%;
    height: 80%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.grid2 article {
    padding-top: 8em;
}

.audio {
    margin: 80px auto auto auto;
    text-align: center;
    width: 80%;
}

.photo {
    margin: 80px auto auto auto;
    text-align: center;
    width: 80%;
}

.photoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.photoGrid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

article p {
    margin: 0;
    text-align: left;
}

nav {
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.links ul {
    margin: 0;
    padding-top: 2em;
    list-style: none;
    display: flex;
    /* justify-content: space-evenly; */
    text-align: left;
}

.links a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: .5em 1em;
}

.links li a:hover {
    color: #ffa329;
}

.toggle-button {
    position: absolute;
    top: 20px;
    right:20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #22496D;
    border-radius: 10px;
}

hr {
    border: 1px solid #22496D;
    border-radius: 1px;
}

#album {
    width:600px;
}

@media screen and (max-width: 450px) {

    h1 {
        font-size: 40px;
    }

    .navbar .centerLogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        position: sticky;
        top: 0;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .links {
        display: none;
        width: 100%;
    }

    .links ul {
        width: 100%;
        flex-direction: column;
    }

    .links li {
        text-align: center;
    }

    .links.active {
        display: flex;
    }

    .grid {
        /* margin-top: 6em; */
        margin: auto;
        width: 60%;
        height: 40%;
        display:grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .grid2 {
        /* margin-top: 6em; */
        margin: auto;
        width: 80%;
        height: 40%;
        display:grid;
        grid-template-columns: 1fr;
        /* gap: 10px; */
    }

    .grid aside {
        margin: 10% auto 10% auto;
    }

    .grid aside img {
        width: 100%;
        padding-top: 5%;
        padding-right: 20px;
    }

    .grid2 aside img {
        width: 100%;
        padding-top: 5%;
        padding-right: 30px;
    }
    
    hr {
        display: none;
    }

    article p{
        /* text-align: justify; */
        hyphens: auto;
        margin-bottom: 10px;
    }
    
}

@media screen and (max-width: 2000px) {

    .centerLogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        position: sticky;
        top: 0;
    }
    
}