h1 {
    font-size: 50px;
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 60px;
    animation: fadeInAnimation ease 1s
}

h2 { 
    font-size: 32px;
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
    animation: fadeInAnimation ease 1s
}

h3 { 
    font-size: 24px;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: fadeInAnimation ease 1s
}

body {
    background-color: black;
    color: white;
}

p {
    font-size: 16px;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    animation: fadeInAnimation 2s
}

img {
    animation: fadeInAnimation 2s
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

nav {
    background-color: black;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.nav-menu {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding-top: 10px;
}

.nav-menu a {
    font-size: 20px;
    font-family: century-gothic, sans-serif;
    color: white;
    text-decoration: none;
    padding: 1em 1em;
}

.logo {
    font-size: 32px;
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
    animation: fadeInAnimation ease 1s;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.nav-menu a:hover {
    color: #B3A980;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    transition: all 0.3s ease;
    background-color: white;
}

article a {
    font-family: century-gothic, sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #73896C;
}

article a:hover {
    color: white;
}

p a {
    font-family: century-gothic, sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #73896C;
}

p a :hover {
    color: white;
}

.grid2 {
    margin: 65px auto 200px auto;
    width: 50%;
    height: 80%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.grid2 article {
    padding-top: 4em;
}

.audio {
    margin: 30px auto auto auto;
    text-align: center;
    width: 80%;
}

.audio iframe {
    width: 100%;
}

.photo {
    margin: 30px auto auto auto;
    text-align: center;
    width: 90%;
}

.photoGrid {
    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           10px; 
}

.photoGrid img {
    width: 100% !important;
    height: auto !important;
    padding-top: 8px;
}

.about {
    margin: auto auto auto auto;
    width: 70%;
}

.aboutGrid {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.about img{
    width: 90%;
    padding-top:5%;
}

.about article {
    padding-top: 1em;
}

article p {
    margin: 0;
    text-align: left;
}

hr {
    border: 1px solid white;
    border-radius: 1px;
}

#album {
    width:600px;
}

.game {
    margin: 15px auto auto auto;
    text-align: center;
    width: 90%;
}

.too-small {
    display: none;
}

@media screen and (max-width: 750px) {
    .game {
        display: none;
    }

    .too-small {
        display: block;
        margin: 20px auto auto auto;
        width: 80%;
    }
}

button {
    font-family: century-gothic, sans-serif;
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
}

.indies {
    position:absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 109%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 800;
    width: 270px;
    margin: auto;
}

.shuffle {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 270px;
    left: 50%;
    top: 100%;
}

.app {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    border-radius: 5px;
  }

  .app img {
    width: 100%;
    height: 80%;
  }
  .app2 {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    border-radius: 5px;
    justify-content: center;
  }

  .app2 img {
    width: 100%;
    height:100%;
    margin:auto;
  }
  .app3 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    border-radius: 5px;
  }

  .app3 img {
    width:100%;
    height:auto;
  }

  .generator img {
    position:absolute;
    transform: translate(-50%, -50%);
    left:50%;
    top: 58%;
    height: 80%;
  }

@media screen and (max-width: 680px) {

    h1 {
        font-size: 40px;
    }

    .blackbar {
        position:fixed;
        top:0;
        left:0;
        width: 100%;
        height:15%;
        background: black;
    }

    .logo {
        position: fixed;
        left: 3%;
        top:5%;
        padding-left: 8%;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 15%;
        gap:0;
        padding-bottom: 10px;
        padding: 0 0 30px 7%;
        flex-direction: column;
        background-color:black;
        width: 100%;
        transition: 0.3s;
    }

    .nav-item {
        padding: 10px 0 10px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger{
        display: block;
        position: fixed;
        left: 85%;
        top:6%;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .grid2 {
        width: 80%;
        margin: 30px auto 100px auto;
        display:grid;
        grid-template-columns: 1fr;
        gap: 0;
    }

    .grid2 aside img {
        width: 100%;
        /* padding-top: 5%; */
        padding-right: 30px;
    }

    .grid2 article {
        padding-top: 1em;
    }

    article p{
        hyphens: auto;
        margin-bottom: 10px;
    }

    .photoGrid {
        -webkit-column-count: 1;
        -webkit-column-gap:   0px;
        -moz-column-count:    1;
        -moz-column-gap:      0px;
        column-count:         1;
        column-gap:           10px; 
    }

    .about {
        padding-bottom: 2em;
    }

    .aboutGrid {
        flex-direction: column;
    }

    .about img {
        width:100%;
        margin: auto;
   }
    
}

@media screen and (max-width: 2500px) {

    .centerLogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        position: sticky;
        top: 0;
    }
    
}